.cell-g {
	cursor: pointer;
}
body {
	margin: 0;
}
.cell-g path {
  fill: none;

   stroke-linecap: round;
  pointer-events: all;
}
.beeswarm {
	position: relative;
}
.beeswarm .tooltip {


    position: absolute;
}

.cellcircle {
	stroke: black;
	stroke-width: 0.5px;
	  cursor:pointer;
}



.cellcircle.active{
	stroke-width: 2px;
}

.tooltip {
	pointer-events: none;
}


.logo {
	text-align: center;
	display: block;
	padding: 1.5rem;


}

.tv {
	position: relative;
	margin: auto;
	display: block;
	height: 192.89px;
	width: 350px;
}

.tvpng {
	position: absolute;
}

.tvvideo {
	position: absolute;
	left: 8%;
	top: 5%;
}

.small {
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	font-variant: small-caps;
	line-height: 1.5;

}

.large {
	font-family: "Roboto";
	font-size: 60px;
	font-weight: 900;
		text-transform: uppercase;
		line-height: 60px;

}

.title {
	padding-top: 6.5rem;
	padding-bottom: 1rem;
	/*padding-bottom: 1rem;*/
}


#intro p {

	text-align: center;
	color: #ffffff;

}

.title p {
		margin: 0;
}

#intro {
	background-color: #00aced;
}

.byline-div {
	padding-top: 2.2rem;
	padding-bottom: 1rem;
}
.byline {
	font-family: "Open Sans";
	font-size: 15px;
	
	


}

.lede {
	margin-top: 100px;
	display: block;
	margin: 0 auto;
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 1.7;
	max-width: 560px;
	


}

.lede-div {
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.byline .bold {
	font-weight: 600;
}

#intro .prose {
	display: block;
	margin: auto;
	text-align: left;
	font-family: "Merriweather";
	font-size: 16;
	line-height: 1.8;
	max-width: 600px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.step .prose {
	display: block;
	margin: auto;
	text-align: left;
	font-family: "Merriweather";
	font-size: 16;
	line-height: 1.8;
	max-width: 400px;
	padding: 1rem;

}
#intro .prose:last-child {
	padding-bottom: 3rem;

}
#graphic {
	position: relative;
}
#sections {
	position: relative;
  display: inline-block;
  max-width: 400px;
  top: 0px;
  z-index: 90;
  margin-top: 2rem;
  margin-left: 2rem;
}

.step {
	 margin-bottom: 200px;
}

#vis {
	display: inline-block;


  z-index: 100;

  max-width: 1000px;
}

.is_fixed {
	position: fixed;
/*top: 115;*/
	top: 0;

}

.is_unfixed {
	position: absolute;
	/*top: 200;*/
	top: 0;

}

.annotation-line {
    stroke: #808080;
    stroke-width: 5px;
}


.annnotation-text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    fill: #808080;
    /* text-shadow: 0 2px 0 #ffffff, 2px 0 0 #ffffff, 0 -2px 0 #ffffff, -2px 0 0 #ffffff; */
    letter-spacing: .2px;
}

.dividing-line {
	stroke: #d3d3d3;
	stroke-width: 2px;

}
.average-text-label {
	 font-size: 10px;
	  pointer-events: none;
	   text-transform: uppercase;
	color: black;
	font-family: "Roboto";
}

.average-line {
	stroke: black;
	stroke-width: 2px;
}


.cellcircle.selected {
	/*stroke-width: 2px;*/
}

.cellcircle.unselected{
	fill: #d3d3d3;
	opacity: 0.1;
}

/*.cell-g.unselected {
	pointer-events: none;

}*/

.voronoi {
      stroke: black;
      fill: none;
    }

.scatter-axis-line {
	stroke: rgba(222, 222, 230, 0.9);
	stroke-width: 1px;
}

.text-labels {
	font-family: 'Roboto';
	font-size: 12px;
}


.twitter-tweet {
	display: block;
	margin: 0 auto;
}

#firstp:first-letter {
    float:left;
    font-weight: 900;
    font-size: 60px;
    font-size: 6rem;
    line-height: 40px;
    line-height: 4rem;
    height:4rem;
    padding: 0.5rem;
    text-transform: uppercase;
    font-family: "Merriweather";
}

h2 {
	font-family: "Merriweather";
	font-size: 24px;
	text-align: center;
	font-weight: 900;

}

.chart-annotation {
	font-family:"Roboto";
	font-weight: 900;
	font-size: 24px;
}
.legend-circle{
	fill: none;
	stroke: black;
	stroke-width: 1px;
	pointer-events: none;
}

.legend-annotation {
	font-family: "Roboto";
	font-size: 12px;
	text-anchor: start;
}
